.mentor-card {
    border-bottom: 2px solid #57068C;
    border-right: 2px solid #57068C;
    border-left: 2px solid #57068C;
}

.mentor-info {
    width: 100%;
    cursor: pointer;
    padding: 1rem 2rem;
}

.mentor-info h2 {
    margin: 0;
    padding-bottom: 1rem;
}

.mentor-info ul {
    margin-bottom: 0;
}

.mentor-card-form {
    background-color: #f8f8f8;
    width: 100%;
    display: inline-block;
    padding: 0 2rem;
}

.mentor-card-form textarea {
    width: 30rem;
    resize: vertical;
}
