.navbar {
    border-bottom: 4px solid #57068C;
    padding: 0 2rem;
}

.logo {
    display: inline-block;
}

.logo > img {
    display: inline-block;
    height: 3rem;
    margin: .5rem 0;
}

.logo > h1 {
    padding-top: 0.5rem;
    display: inline-block;
    margin: 1rem 2rem;
    vertical-align: top;
}

.logo > h2 {
    display: inline-block;
    margin: 1rem 1rem;
    vertical-align: bottom;
    color: grey;
}

.navbar > span {
    display: inline-block;
    float: right;
    margin: 1.5rem 0;
}

.navbar > span > button {
    margin-left: 1rem;
}

/* h1 { color: #111; font-family: 'Helvetica Neue', sans-serif; font-weight: bold; letter-spacing: -1px; line-height: 1; }

h2 { color: #111; font-family: 'Open Sans', sans-serif; font-weight: 300; line-height: 32px; margin: 0 0 72px;} */
